.main{
 composes: main from '../index.css';   
}
.dayCol {
    border-left: 1px solid #d4d4d4;
    padding: 5px;
    text-align: center;
    position: relative;
    border-right: none;
    display: inline-block;
    height: 100%;
    max-width: 250px;
}
.yAxis{
    background-color: yellow;
}
.colWrapper{
    flex: 1;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    position: relative;
}

.colScrollWrapper{
    height: 100%;
    white-space: nowrap;
    position: absolute;
    width: 100%;    
}